<a href="#" rel="item={{ item.id }};lvl={{ character.level }};upgd={{ item.tooltipParams.upgrade.current|default('') }};bonus={{ item.bonusLists|join(':') }};ench={{ item.tooltipParams.enchant|default('') }};pcs={{ item.tooltipParams.set|default('')|join(':') }};rand={{ item.tooltipParams.suffix|default('') }};domain={{ app.locale|split('_')|first }}" class="q{{ item.quality }}">
    <img src="http://media.blizzard.com/wow/icons/56/{{ item.icon }}.jpg" alt="{{ item.name }}">
    <span class="q"></span>
</a>
