{% extends "layout.html.twig" %}

{% set listItems = ['head', 'hands', 'neck', 'waist', 'shoulder', 'legs', 'back', 'feet', 'chest', 'finger1', 'shirt', 'finger2', 'tabard', 'trinket1', 'wrist', 'trinket2', 'mainHand', 'offHand'] %}

{% block title %}{{ character.name }} - {{ parent() }}{% endblock %}

{% block content %}

<h1 class="display-1">
    {{ character.name }}
    {% if character.guild is defined %}
    <small><a href="{{ path('guild', {'realm': character.guild.realm|slugify, 'guild': character.guild.name|lower}) }}">{{ character.guild.name }}</a></small>
    {% endif %}
</h1>
<p class="lead pull-xs-right"><strong>Level : {{ character.level }}</strong> / <small>iLvl : {{ character.items.averageItemLevelEquipped }}</small></p>
<p class="lead"><strong>{{ character.realm }}</strong>, <small><em>{{ character.battlegroup }}</em></small></p>
<div class="container img-rounded" id="character" style="background-image:url('http://render-api-eu.worldofwarcraft.com/static-render/eu/{{ character.cover }}');">

    {% for currentItem in listItems %}
    <div id="{{ currentItem }}" class="col-sm-6 items">

        {% if character.items[currentItem] is defined %}

        {% include 'Character/items.html.twig' with {'character': character, 'item': character.items[currentItem]} %}

        <span class="name q{{ attribute(character.items[currentItem], 'quality') }}">{{ attribute(character.items[currentItem], 'name') }}</span>
        {% else %}
        <div class="empty"><div class="q0"><span class="q"></span></div></div>
        {% endif %}

    </div>
    {% endfor %}

</div>

{% endblock %}
