<a href="{{ path('character', {'realm': character.realm|slugify, 'character': character.name|lower}) }}">
    <div class="col-lg-3 col-sm-6">
        <div class="card card-inverse" style="background-image:url('https://render-eu.worldofwarcraft.com/character/{{ character.inset }}');">
            <div class="card-block">
                <h4 class="card-title">{{ character.name }}</h4>
                <p class="card-text">
                    <small>

                        {% if character.guild is defined and rank is not defined %}
                            {{ character.guild }}
                        {% else %}

                            {% if rank is defined %}

                                {% if rank == 0 %}
                                    Guild master
                                {% else %}
                                    Rank {{ rank }}
                                {% endif %}

                            {% endif %}

                        {% endif %}

                    </small><br>
                    Level : <strong>{{ character.level }}</strong><br>
                    <small class="text-muted">{% if character.spec is defined %}{{ character.spec.role }} ({{ character.spec.name }}){% else %}No specialization{% endif %}</small>
                </p>
            </div>
        </div>
    </div>
</a>
