{% extends "layout.html.twig" %}

{% block title %}{{ guild.name }} - {{ parent() }}{% endblock %}

{% block content %}
<h1 class="display-1">{{ guild.name }}</h1>
<div class="container">
    <dl class="dl-horizontal">
        <dt class="col-md-3 text-right">Realm</dt>
        <dd class="col-md-9">{{ guild.realm }}</dd>
        <dt class="col-md-3 text-right">Battlegroup</dt>
        <dd class="col-md-9">{{ guild.battlegroup }}</dd>
        <dt class="col-md-3 text-right">Achievement Points</dt>
        <dd class="col-md-9">{{ guild.achievementPoints }}</dd>
    </dl>
</div>
<div class="row">

    {% for member in members %}

    {% include 'character.html.twig' with {'character': member.character, 'rank': member.rank} %}

    {% endfor %}

</div>

{% endblock %}
