<a href="#" rel="item={{ item.id }};lvl={{ character.level }};upgd={{ item.tooltipParams.upgrade.current }};bonus={{ item.bonusLists|join(':') }};ench={{ item.tooltipParams.enchant }};pcs={{ item.tooltipParams.set|join(':') }};rand={{ item.tooltipParams.suffix }};domain=fr" class="q{{ item.quality }}">
    <img src="http://media.blizzard.com/wow/icons/56/{{ item.icon }}.jpg" alt="{{ item.name }}">
    <span class="q"></span>
</a>
