{% extends 'base.html.twig' %}

{% block title %}Characters - {{ parent() }}{% endblock %}

{% block body %}
<h1>Characters</h1>
<p>Here are the characters in your account grouped by realm.</p>

{% set oldRealm = {} %}
{% for realm in characters %}
{% set actualRealm = realm.realm %}
{% if actualRealm not in oldRealm %}
<h2>{{ actualRealm }}</h2>
<div class="row align-items-center">
    {% for character in characters %}
    {% if character.realm == actualRealm %}
    <div class="col-3 py-3">
        <img src="http://render-eu.worldofwarcraft.com/character/{{ character.thumbnail|replace({'avatar': "inset"}) }}?alt=/wow/static/images/2d/avatar/{{ character.race }}-{{ character.gender }}.jpg" class="img-fluid rounded mx-auto d-block" alt="{{ character.name }}">
        {#{ dump(character) }#}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% set oldRealm = oldRealm|merge([actualRealm]) %}
{% endfor %}

{% endblock %}
